@import "@/styles/var.module.scss";

.header {
    margin-top: 20px;
    min-width: 1170px;
    padding: 8px 10px;
    background-color: $gray-80;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: $font-size-14;
    display: flex;
    align-items: center;
    * {
        color: $gray-0;
    }
}
