@import "@/styles/var.module.scss";

.block{
    padding: 20px;
}

.block__copyright__author{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: $font-size-16;
    
    *{
        text-decoration: underline;
        color: $gray-0;
    }
}