@import "@/styles/var.module.scss";

.study__wrapper {
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1640174886107-83afe0577a1f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1657&q=80);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 20px;
    position: relative;
}

.study__inner {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    color: $gray-0;
}

.tile_wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    gap: 20px;

    .info_tile {
        width: 100%;
        position: relative;
        max-height: 500px;
        background-color: $gray-0;
        padding: 50px;
        border-radius: 20px;

        svg {
            color: $blue-100;
            margin-bottom: 20px;

            max-height: 200px;
            max-width: 200px;

            min-width: 150px;
            min-height: 150px;
        }

        .tile_text {
            color: $gray-80;
            font-size: max(calc(0.6rem + 0.5vw), 16px);
        }
    }
}

@media (max-width: 850px) {
    .tile_wrapper {
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 550px) {
    .tile_wrapper {
        flex-wrap: wrap;
        width: 100%;
    }
}
