@import "@/styles/var.module.scss";

.tabContainer {
    display: block;
    position: relative;
    min-height: 200px;
    margin: 0 10px;
}

.tabTitleList {
    display: flex;
}

.tabTitleItem {
    padding: 10px 15px;
    background-color: #f0f0f0;
    font-size: $font-size-14;
    &.activeTab {
        background-color: $blue-40;
    }
    &:hover {
        cursor: pointer;
    }
}

.tabBody {
    border: 2px solid $blue-40;
    padding: 10px;
}
