@import "@/styles/var.module.scss";

* {
    box-sizing: border-box;
    font-family: $font-primary, sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: $blue-100;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
