@import "@/styles/var.module.scss";

* {
    box-sizing: border-box;
    font-family: $font-primary, sans-serif;
    scroll-behavior: smooth;
}

html,
body,
p {
    padding: 0;
    margin: 0;
}

a {
    color: $blue-100;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
