@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// ---------------------- //
// --- Primary colors --- //
// ---------------------- //

$red-100: #F44336;
$red-80: #F16459;
$red-60: #EE837C;
$red-40: #EBA49F;
$red-20: #E8C4C2;

$orange-100: #f2994a;
$orange-80: #f0a869;
$orange-60: #edb888;
$orange-40: #eac6a7;
$orange-20: #e7d6c6;

$yellow-100: #f2c94c;
$yellow-80: #f0cf6b;
$yellow-60: #edd58a;
$yellow-40: #ead9a7;
$yellow-20: #e7dfc6;

$green-100: #219653;
$green-80: #48a670;
$green-60: #70b68e;
$green-40: #96c5aa;
$green-20: #bed5c8;
$extra-green: #8BC34A;

$blue-100: #2f80ed;
$blue-80: #5494ec;
$blue-60: #78a9ea;
$blue-40: #9cbce8;
$blue-20: #c0d1e6;

$violet-100: #9b51e0;
$violet-80: #aa6fe1;
$violet-60: #b98de2;
$violet-40: #c7a9e3;
$violet-20: #d6c7e4;

$gray-100: #000000;
$gray-80: #2e2e2e;
$gray-60: #5c5c5c;
$gray-40: #898989;
$gray-20: #b7b7b7;
$gray-0: #ffffff;

// ------------------ //
// --- Typography --- //
// ------------------ //

$font-primary: "Roboto";

$font-size-32: 2rem;
$font-size-24: 1.5rem;
$font-size-20: 1.25rem;
$font-size-16: 1rem;
$font-size-14: 0.875rem;
$font-size-12: 0.75rem;

$font-weight-regular: 300;
$font-weight-bold: 600;

$line-height: 1.5;

// ------------------ //
// ----- EXPORT ----- //
// ------------------ //

:export {
    red100: $red-100;
    red80: $red-80;
    red60: $red-60;
    red40: $red-40;
    red20: $red-20;

    orange100: $orange-100;
    orange80: $orange-80;
    orange60: $orange-60;
    orange40: $orange-40;
    orange20: $orange-20;

    yellow100: $yellow-100;
    yellow80: $yellow-80;
    yellow60: $yellow-60;
    yellow40: $yellow-40;
    yellow20: $yellow-20;

    green100: $green-100;
    green80: $green-80;
    green60: $green-60;
    green40: $green-40;
    green20: $green-20;
    extraGreen: $extra-green;

    blue100: $blue-100;
    blue80: $blue-80;
    blue60: $blue-60;
    blue40: $blue-40;
    blue20: $blue-20;

    violet100: $violet-100;
    violet80: $violet-80;
    violet60: $violet-60;
    violet40: $violet-40;
    violet20: $violet-20;

    gray100: $gray-100;
    gray80: $gray-80;
    gray60: $gray-60;
    gray40: $gray-40;
    gray20: $gray-20;
    gray0: $gray-0;
}
